<div class="">
  <div class='panel panel-primary'>
      <div class='panel-heading'>
          {{pageTitle}}
      </div>
      <div class='panel-body'>
          <div class='row'>
              <div class="col-md-12">
                <ul class="list-group">
                  <li class="list-group-item">
                    <span>Address :- </span> Live in: Delhi, India
                  </li>
                  <li class="list-group-item">
                    <span>Contact No :-</span>  +91 (9953) 878727
                  </li>
                  <li class="list-group-item">
                    <span>Email ID :-</span> ram9953878727@gmail.com
                  </li>
                  <li class="list-group-item">
                    <span>Website :-</span> <a href="http://www.rohitazad.com/" target="_blank">http://www.rohitazad.com/</a>
                  </li>
                  <li class="list-group-item">
                    <span>Social Contact :-</span>
                    <ul class="contactSocialIcon">
                        <li tooltip="Find Us on Google Plus"><a href="https://plus.google.com/111154228660835588284/posts" target="_blank"><span class="fa fa-google"></span></a></li>
                        <li tooltip="Find Us on Facebook"><a href="https://www.facebook.com/IamRohitAzad" target="_blank"><span class="fa fa-facebook"></span></a></li>
                        <li tooltip="Find Us on Twitter"><a target="_blank" href="https://twitter.com/iamrohitazad"><span class="fa fa-twitter"></span></a></li>
                        <li tooltip="Find Us on Linkedin"><a target="_blank" href="http://in.linkedin.com/in/rohitazad"><span class="fa fa-linkedin"></span></a></li>
                        <li tooltip="Find Us on StackOverflow"><a target="_blank" href="http://stackoverflow.com/users/1365428/rohit-azad"><span class="fa fa-stack-overflow"></span></a></li>
                        <li tooltip="Find Us on GitHub"><a target="_blank" href="https://github.com/rohitazad"><span class="fa fa-github-square"></span></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
          </div>
      </div>
  </div>

</div>
